<div class="container-fluid constainer-fluid-custom py-md-5 md-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-m-12 col-lg-6 md-md-0">
        <h1 class="display-2 fw-bold md-4 positon-relative home-title">
          Page Not Found.
        </h1>
        <!-- <img src="../public/img/404.png" alt="" /> -->
        <a href="/" class="btn btn-primary btn-lg"> Explore more. </a>
      </div>
    </div>
  </main>
</div>
